{% extends 'base.html.twig' %}

{% block title 'Compte' %}
{% block body%}

    <div>
        <h1 style="text-align: center; margin-top: 1cm; margin-bottom: 1cm">Mon Profil</h1>
    </div>
    <div class="card"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informations Personnelles</h5>
                    <div class="container mt-4">
                        {{ form_start(form) }}
                        <div class="col-md-4">{{ form_row(form.username) }}</div>
                        <div class="col-md-4">{{ form_row(form.adresse) }}</div>
                        <div class="col-md-4">{{ form_row(form.email) }}</div>
                        <button class="btn btn-primary">Sauver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Paramètres</h5>
                    <p class="card-text"> A configurer</p>
                    <div>
                        <label class="switch">
                            <div>Dark theme</div>
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <label class="switch">
                            <div>Anglais/Francais</div>
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top: 1cm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vos Commandes en cours</h5>
                    {% for commandes in Commandes %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Commande n°1</h5>
                                <div class="container mt-4">
                                    <p> Etat : {{ commandes.etat }}</p>
                                </div>
                                <div class="container mt-4">
                                    <p>Payement : {{ commandes.paiement }}</p>
                                </div>
                                <a href="{{ path('Compte.CommandesClient.detail', {id: commandes.id}) }}" class="btn btn-primary">Détails</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}