{% extends 'base.html.twig' %}

{%  block title 'InforShop' %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">{{ produitz.marque }} - {{ produitz.produitscaracteristiques.serie }}</h1>
        <div class="card-image">
            <img src="/images/products/{{ produitz.filename }}" alt="card-img-top" style="width: auto; height: 200px">
        </div>
        <p class="lead"> {{ produitz.categorie }}</p>
        {% if produitz.categorie == 'écran' %}
            <p>
                {{ produitz.produitscaracteristiques.tailleEcran}} {{ produitz.produitscaracteristiques.typeEcran }} {{ produitz.produitscaracteristiques.resEcran }} ,
                {{ produitz.produitscaracteristiques.typeConnecteur}} {{ produitz.produitscaracteristiques.tailleCable}} ,
                {{ produitz.produitscaracteristiques.dimensions}} {{ produitz.produitscaracteristiques.poids}} {{ produitz.produitscaracteristiques.divers}}
            </p>
        {% else %}
            <p>
                {{ produitz.produitscaracteristiques.marqueProcesseur }} {{ produitz.produitscaracteristiques.typeProcesseur }} {{ produitz.produitscaracteristiques.vitesseProcesseur }}
                , {{ produitz.produitscaracteristiques.gPU }} {{ produitz.produitscaracteristiques.gPURam }}
                , {{ produitz.produitscaracteristiques.technologieDisqueDur }} {{ produitz.produitscaracteristiques.tailleDisqueDur }}
                , {{ produitz.produitscaracteristiques.tailleMemoireVive }} {{ produitz.produitscaracteristiques.typeRamCarteGraphique }}
                , {{ produitz.produitscaracteristiques.systemeExploitation }}

            </p>
        {% endif %}
        <hr class="my-4">
        <p> Description Description Description Description Description Description Description Description
            Description Description Description Description Description Description Description Description
            Description Description Description Description Description Description Description Description</p>
        {% if produitz.produitspromotions == NULL %}<h2>{{ produitz.prix }} €</h2>
        {% else %} <h2> <s>{{ produitz.prix }}€</s> {{ produitz.prix-((produitz.prix/100)*(produitz.produitspromotions.remise)) }}$(-{{ produitz.produitspromotions.remise }}%) </h2>
        {% endif %}
        {% if produitz.quantite == 0 %}<p> Stock épuisé </p>
        {% else %}
            <p class="lead">
                <a href="{{ path('Panier.add', {id: produitz.id }) }}" class="btn btn-success btn-lg" role="button">
                    <i class="fas fa-shopping-cart mr-1">Ajouter au panier</i>
                </a>
            </p>
        {% endif %}

    </div>

{% endblock %}