{% extends 'base.html.twig' %}

{% block title 'Tous nos produits' %}
{% block body%}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.maxPrix) }}
                </div>
                <div class="col">
                    {{ form_row(form.minPrix) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Recherche</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Tous nos produits</h1>

    </div>
    <div class="container">
        <div class="row flex">
            {% for produits in produitz %}
            <div class="col-5">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/products/{{ produits.filename }}" alt="card-img-top" style="width: auto; height: 200px">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{ path('property.detail',{id: produits.id})}}">{{ produits.marque }} - {{ produits.nom }}</a>
                        </h3>
                        <div class="text-muted">{{ produits.produitscaracteristiques.marqueProcesseur }} {{ produits.produitscaracteristiques.typeProcesseur }} {{ produits.produitscaracteristiques.nbrCoeurs }},
                            {{ produits.produitscaracteristiques.technologieDisqueDur }} {{ produits.produitscaracteristiques.tailleDisqueDur}} ,{{ produits.produitscaracteristiques.tailleMemoireVive }}</div>
                        {% if produits.produitspromotions == NULL %}<h2>{{ produits.prix }} €</h2>
                        {% else %}<p> <s>{{ produits.prix }}€</s> {{ produits.prix-((produits.prix/100)*(produits.produitspromotions.remise)) }}€(-{{ produits.produitspromotions.remise }}%) </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(produitz) }}
        </div>
    </div>
{% endblock %}