{% extends 'base.html.twig' %}
{% block title 'InforShop' %}
{% block body%}
    {% set prixtotal = 0 %}
    <div class="container mt-4" style="color: dodgerblue">
        <h1>Produits dans votre panier</h1>
    </div>
    <div class="container">
        <div class="row flex">
            {% set prixtotal = 0 %}
            {% for produits in produits %}
                {% set prixtotal = prixtotal + (produits.prix) %}
                <div>
                    <div class="card" style="width: 200px;">
                        <div class="card-image">
                            <img src="/images/products/{{ produits.filename }}" alt="card-img-top" style="width: auto; height: 200px">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{{ path('property.detail',{id: produits.id})}}">{{ produits.marque }} - {{ produits.produitscaracteristiques.serie }}</a>
                            </h3>
                            {% if produits.categorie == 'écran' %}
                                <div class="text-muted">{{ produits.produitscaracteristiques.tailleEcran}} {{ produits.produitscaracteristiques.typeEcran }} {{ produits.produitscaracteristiques.resEcran }}</div>
                            {% else %}
                                <div class="text-muted">{{ produits.produitscaracteristiques.marqueProcesseur }} {{ produits.produitscaracteristiques.typeProcesseur }} {{ produits.produitscaracteristiques.nbrCoeurs }},
                                    {{ produits.produitscaracteristiques.technologieDisqueDur }} {{ produits.produitscaracteristiques.tailleDisqueDur}} ,{{ produits.produitscaracteristiques.tailleMemoireVive }}</div>
                            {% endif %}
                            {% if produits.produitspromotions == null %}<h2>{{ produits.prix }} €</h2>
                            {% else %}<p> <s>{{ produits.prix }}€</s> {{ produits.prix-((produits.prix/100)*(produits.produitspromotions.remise)) }}€(-{{ produits.produitspromotions.remise }}%) </p>
                            {% endif %}
                            <a href="{{ path('Panier.delete', {id: produits.id }) }}" class="btn btn-danger btn-lg" role="button">Retirer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <h2 id="total">Total : {{ prixtotal }} €</h2>
            <button id="checkout-button"> Payer </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        var MyHeaders = new Headers();
        MyHeaders.append("Name", "Materiel Informatique");
        MyHeaders.append("Prix", document.getElementById('total'));

        var MyInit = { method: 'POST', headers: MyHeaders, mode: 'cors', cache: 'default'};
        var MyRequest = new Request('/create-checkout-session', MyInit);
        var stripe = Stripe('pk_test_51II1aMAza6WrSbKeNF6iGppy5I3C5UEGdz9uSWfDHDhz5kWWQjnHRJVXu9S0kqNA6OKSEna91tCQ26BNuFKpsR3A00XoEgT0b4');
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function() {

            fetch(MyRequest,MyInit)
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function(result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>
{% endblock %}
