{% extends 'base.html.twig' %}
{% block title 'InforShop' %}
{% block body%}
    <h4>Achat effectué avec succès !</h4>

    <h6 style="margin-top: 2cm"> Vous pouvez consulter l'état de votre commande via sur la page /compte</h6>
{% endblock %}