{% extends 'base.html.twig' %}

{% block title 'InforShop' %}
{% block body%}
    <style>
        .jumbotron.text-center{
            color: white;
            height: 300px;
        }
    </style>
    <div class="jumbotron text-center"  style="background-image: url('/images/HTML/ComponentsBackground.jpg'); text-shadow: black 0px 0px 20px; color: white">
    <h1>InforShop</h1>
        <h4>Pour vos achats de matériel informatique en ligne</h4>
    </div>
    <body  style="background-image: url('/images/HTML/StrippedBackground.png');">
    <div class="container mt-4" style="color: dodgerblue">
        <h1>Nouveautés</h1>
    </div>
    <div class="container">
        <div class="row flex">
            {% for produits in Nouveautes %}
                <div>
                    <div class="card" style="width: 200px;">
                        <div class="card-image">
                            <img src="/images/products/{{ produits.filename }}" alt="card-img-top" style="width: auto; height: 200px">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{{ path('property.detail',{id: produits.id})}}">{{ produits.marque }} - {{ produits.produitscaracteristiques.serie }}</a>
                            </h3>
                            {% if produits.categorie == 'écran' %}
                                <div class="text-muted">{{ produits.produitscaracteristiques.tailleEcran}} {{ produits.produitscaracteristiques.typeEcran }} {{ produits.produitscaracteristiques.resEcran }}</div>
                            {% else %}
                            <div class="text-muted">{{ produits.produitscaracteristiques.marqueProcesseur }} {{ produits.produitscaracteristiques.typeProcesseur }} {{ produits.produitscaracteristiques.nbrCoeurs }},
                                {{ produits.produitscaracteristiques.technologieDisqueDur }} {{ produits.produitscaracteristiques.tailleDisqueDur}} ,{{ produits.produitscaracteristiques.tailleMemoireVive }}</div>
                            {% endif %}
                            {% if produits.produitspromotions == null %} <h4>{{ produits.prix }} €</h4>
                            {% else %} <h4> <s>{{ produits.prix }}€</s> {{ produits.prix-((produits.prix/100)*(produits.produitspromotions.remise)) }}€(-{{ produits.produitspromotions.remise }}%) </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="margin-top: 2cm">
    </div>

    <div class="container mt-4" style="color: dodgerblue">
        <h1>Meilleures Ventes</h1>
    </div>
    <div class="container">
        <div class="row flex">
            {% for produits in Favoris %}
                <div>
                    <div class="card" style="width: 200px;">
                        <div class="card-image">
                            <img src="/images/products/{{ produits.filename }}" alt="card-img-top" style="width: auto; height: 200px">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{{ path('property.detail',{id: produits.id})}}">{{ produits.marque }} - {{ produits.produitscaracteristiques.serie }}</a>
                            </h3>
                            <div class="text-muted">{{ produits.produitscaracteristiques.marqueProcesseur }} {{ produits.produitscaracteristiques.typeProcesseur }} {{ produits.produitscaracteristiques.nbrCoeurs }},
                                {{ produits.produitscaracteristiques.technologieDisqueDur }} {{ produits.produitscaracteristiques.tailleDisqueDur}} ,{{ produits.produitscaracteristiques.tailleMemoireVive }}</div>
                            {% if produits.produitspromotions == NULL %}<h4>{{ produits.prix }} €</h4>
                            {% else %}<h4> <s>{{ produits.prix }}€</s> {{ produits.prix-((produits.prix/100)*(produits.produitspromotions.remise)) }}€(-{{ produits.produitspromotions.remise }}%) </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}
