{% extends 'base.html.twig' %}

{%  block title 'CRUD InforShop' %}

{% block body %}
    <div class="container mt-4">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>
                    <th>
                        <h5>
                            <a href="{{ path('admin.produit.index') }}">CRUD Produits</a>
                        </h5>
                    </th>
                    </td>
                </tr>
                </thead>
                <thead>
                <tr>
                    <td>
                    <th>
                        <h5>
                            <a href="{{ path('admin.Promotions.index') }}">CRUD Promotions</a>
                        </h5>
                    </th>
                    </td>
                </tr>
                </thead>
                <thead>
                <tr>
                    <td>
                    <th>
                        <h5>
                            <a href="{{ path('admin.utilisateurs.index') }}">CRUD Utilisateurs</a>
                        </h5>
                    </th>
                    </td>
                </tr>
                </thead>
                <thead>
                <tr>
                    <td>
                    <th>
                        <h5>
                            <a href="{{ path('admin.MouvementStock.index') }}">CRUD MouvementStock</a>
                        </h5>
                    </th>
                    </td>
                </tr>
                </thead>
                <thead>
                <tr>
                    <td>
                    <th>
                        <h5>
                            <a href="{{ path('admin.Commandes.index') }}">CRUD Commandes</a>
                        </h5>
                    </th>
                    </td>
                </tr>
                </thead>
                <thead>
                <tr>
                    <td>
                    <th>
                        <h5>
                            <a href="{{ path('admin.Caracteristiques.index') }}">CRUD Caracteristiques</a>
                        </h5>
                    </th>
                    </td>
                </tr>
                </thead>
                <thead>
                <tr>
                    <td>
                    <th>
                        <h5>
                            <a href="{{ path('admin.CSV.index') }}">Importer un fichier CSV</a>
                        </h5>
                    </th>
                    </td>
                </tr>
                </thead>
            </table>
    </div>

{% endblock %}