{% extends 'base.html.twig' %}

{% block title 'Compte' %}
{% block body%}
    <div class="jumbotron text-center">
        <h1>Détail de la Commande</h1>
    </div>
    <div class="container">
        {% for produits in Produits %}
            <div class="col-5">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/products/{{ produits.filename }}" alt="card-img-top" style="width: auto; height: 200px">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{ path('property.detail',{id: produits.id})}}">{{ produits.marque }} - {{ produits.nom }}</a>
                        </h3>
                        <h3>{{  }}</h3>
                        <div class="text-muted">{{ produits.produitscaracteristiques.marqueProcesseur }} {{ produits.produitscaracteristiques.typeProcesseur }} {{ produits.produitscaracteristiques.nbrCoeurs }},
                            {{ produits.produitscaracteristiques.technologieDisqueDur }} {{ produits.produitscaracteristiques.tailleDisqueDur}} ,{{ produits.produitscaracteristiques.tailleMemoireVive }}</div>
                        <div class="text-body">{{ produits.prix }} € </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}