{% extends 'base.html.twig' %}

{%  block title 'Gérer les Caracteristiques' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les Caracteristiques</h1>

        {%  for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {%  endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for Caracteristiques in Caracteristiquesz %}
                <tr>
                    <td>{{ Caracteristiques.caracteristiquesproduits.nom }}</td>
                    <td>
                        <a href="{{ path('admin.Caracteristiques.edit', {id: Caracteristiques.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.Caracteristiques.delete', {id: Caracteristiques.id}) }}" style="display: inline-block"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer ce Caracteristiques?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Caracteristiques.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.Caracteristiques.new') }}" class="btn btn-primary">Créer un nouveau Caracteristiques</a>
        </div>
    </div>
{% endblock %}