{% extends 'base.html.twig' %}

{% block title 'Promotions du moment' %}
{% block body%}
    <div class="container mt-4">
        <h1>Promotions du moment</h1>
    </div>
    <div class="container">
        <div class="row flex">
            {% for promotions in promotions %}
                <div>
                    <div class="card" style="width: 200px;">
                        <div class="card-image">
                            <img src="/images/products/{{ promotions.promotionsproduits.current.filename }}" alt="card-img-top" style="width: auto; height: 200px">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{{ path('property.detail', {id: promotions.promotionsproduits.current.id})}}">{{ promotions.promotionsproduits.current.marque }} - {{ promotions.promotionsproduits.current.nom }}</a>
                            </h3>
                            {% if promotions.promotionsproduits.current.categorie == 'écran' %}
                                <div class="text-muted">{{ promotions.promotionsproduits.current.produitscaracteristiques.tailleEcran}} {{ promotions.promotionsproduits.produitscaracteristiques.typeEcran }} {{ promotions.promotionsproduits.produitscaracteristiques.resEcran }}</div>
                            {% else %}
                                <div class="text-muted">{{ promotions.promotionsproduits.current.produitscaracteristiques.marqueProcesseur }} {{ promotions.promotionsproduits.current.produitscaracteristiques.typeProcesseur }} {{ promotions.promotionsproduits.current.produitscaracteristiques.nbrCoeurs }},
                                    {{ promotions.promotionsproduits.current.produitscaracteristiques.technologieDisqueDur }} {{ promotions.promotionsproduits.current.produitscaracteristiques.tailleDisqueDur}} ,{{ promotions.promotionsproduits.current.produitscaracteristiques.tailleMemoireVive }}</div>
                            {% endif %}
                            <div class="text-body"> <h6><s>{{ promotions.promotionsproduits.current.prix }} €</s> {{ promotions.promotionsproduits.current.prix -((promotions.promotionsproduits.current.prix /100)*(promotions.remise)) }}€(-{{ promotions.remise }}%) </h6></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}