{% extends 'base.html.twig' %}

{%  block title 'Gérer les Commandes' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les Commandes</h1>

        {%  for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {%  endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for Commandes in Commandesz %}
                <tr>
                    <td>{{ Commandes.id }}</td>
                    <td>
                        <a href="{{ path('admin.Commandes.edit', {id: Commandes.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.Commandes.delete', {id: Commandes.id}) }}" style="display: inline-block"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer ce Commandes?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Commandes.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.Commandes.new') }}" class="btn btn-primary">Créer une nouvelle Commande</a>
        </div>
    </div>
{% endblock %}