{% extends 'base.html.twig' %}

{% block title 'Compte' %}
{% block body%}
    <div class="jumbotron text-center">
        <h1>Profil</h1>
    </div>
    <div class="container">
    </div>
{% endblock %}