{% extends 'base.html.twig' %}

{%  block title 'Gérer les produits' %}

{% block body %}
<div class="container mt-4">
    <h1>Gérer les produits</h1>

    {%  for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {%  endfor %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produits in produitz %}
            <tr>
                <td>{{ produits.nom }}</td>
                <td>
                    <a href="{{ path('admin.produit.edit', {id: produits.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.produit.delete', {id: produits.id}) }}" style="display: inline-block"
                    onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produits.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('admin.produit.new') }}" class="btn btn-primary">Créer un nouveau produit</a>
    </div>
</div>
{% endblock %}