{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container mt-4">
        <h1>Entrez vos données</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}